<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Tracker</title>
</head>
<body>
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=51.8950764,-8.4974971&zoom=12&&markers=color:blue|label:P|51.8950764,-8.4974971&size=680x680&maptype=terrain&format=png&key={{key}}" alt="Map with marker">
    <p>{{ API_KEY }}</p>
</body>
</html>